Source: fin-trans-converter
Section: cli-mono
Priority: optional
Maintainer: Georg Hirn <georg.hirn@invalid.com>
Build-Depends: debhelper (>=9), dotnet-dev-1.0.0-preview2-003121 (>=1.0.0-preview2-003121)
Standards-Version: 3.9.7
Homepage: https://github.com/georghirn/fin-trans-converter
#Vcs-Git: git://anonscm.debian.org/collab-maint/fin-trans-converter.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/fin-trans-converter.git

Package: fin-trans-converter
Architecture: all
Depends: ${misc:Depends}, dotnet-sharedframework-microsoft.netcore.app-1.0.0 (>=1.0.0)
Description: Converting financial transactions between different formats.
 Financial transaction converter converts different transaction formats from one to another.
